Repository codesquad-member-2020/airbnb-02, pull requests merged in 2020-06, with the labels that each got.

#102 [iOS] 이슈 #97 관련 코드 리팩토링하고 이미지 업데이트 기능을 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Delegates/BNBsLayout.swift
  iOS/Airbnb/Airbnb/UseCases/BNBsUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/ImageUseCase.swift
  iOS/Airbnb/Airbnb/Utils/ArrayExtensions.swift
  iOS/Airbnb/Airbnb/Utils/ImageCache.swift
  iOS/Airbnb/Airbnb/Utils/Observable.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBViewModel.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBViewModels.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBsViewModel.swift
  iOS/Airbnb/Airbnb/Views/BNBCell.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
Labels: enhancement, iOS, refactor

#114 [BE] 상세 페이지 API 기능 구현
  BE/hs_err_pid15310.log
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/repository/RepositoryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/room/business/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/user/business/UserServiceTest.java
Labels: BE, BE-페어

#117 [BE] 숙소 예약, 취소 시 유저정보 반영하도록 구현
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/BookingResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
Labels: BE

#99 [BE 리뷰요청] 숙소예약 프로젝트 2주차 리뷰 요청합니다.
  BE/appspec.yml
  BE/build.gradle
  BE/deploy.sh
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/BookingResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/config/SwaggerConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/BookingNotAllowedException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/ExceptionAdvice.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/NotFoundDataException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/entity/Host.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/application-deploy.properties
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/application/controller/UserControllerTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/repository/RepositoryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/room/business/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/user/business/UserServiceTest.java
Labels: be-리뷰요청

#120 [BE] 2주차 PR review 완료
  BE/appspec.yml
  BE/build.gradle
  BE/deploy.sh
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/BookingResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/config/SwaggerConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/BookingNotAllowedException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/ExceptionAdvice.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/NotFoundDataException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/entity/Host.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/application-deploy.properties
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/application/controller/UserControllerTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/repository/RepositoryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/room/business/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/user/business/UserServiceTest.java
Labels: BE

#118 [iOS] Networking Layer 테스트 개선
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Models/BNB.swift
  iOS/Airbnb/Airbnb/Networking/AFSession.swift
  iOS/Airbnb/Airbnb/Networking/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Networking/Request.swift
  iOS/Airbnb/Airbnb/Networking/SearchRequest.swift
  iOS/Airbnb/Airbnb/Networking/SearchTask.swift
  iOS/Airbnb/Airbnb/UseCases/BNBsUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/ImageUseCase.swift
  iOS/Airbnb/Airbnb/Utils/DataExtensions.swift
  iOS/Airbnb/AirbnbTests/AFSessionTests.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/BNBsTaskTests.swift
  iOS/Airbnb/AirbnbTests/BNBsUseCaseTests.swift
  iOS/Airbnb/AirbnbTests/DecodableTests.swift
  iOS/Airbnb/AirbnbTests/DispatcherTests.swift
  iOS/Airbnb/AirbnbTests/ImageUseCaseTests.swift
  iOS/Airbnb/AirbnbTests/Mocking/BNBsTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/OneBNBTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/OneInvalidBNBTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/URLProtocolMock.swift
  iOS/Airbnb/AirbnbTests/SearchRequestTests.swift
  iOS/Airbnb/AirbnbTests/SearchTaskTests.swift
Labels: iOS, refactor

#119 [iOS] 메인 검색 화면 완성 및 테스트
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb.imageset/airbnb.png
  iOS/Airbnb/Airbnb/Assets.xcassets/pointPink.colorset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/star.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/star.imageset/star.png
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Delegates/BNBsLayout.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/Models/BNB.swift
  iOS/Airbnb/Airbnb/Networking/AFSession.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Networking/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Networking/NetworkTask.swift
  iOS/Airbnb/Airbnb/Networking/Request.swift
  iOS/Airbnb/Airbnb/Networking/SearchRequest.swift
  iOS/Airbnb/Airbnb/Networking/SearchTask.swift
  iOS/Airbnb/Airbnb/UseCases/BNBsUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/ImageUseCase.swift
  iOS/Airbnb/Airbnb/Utils/DataExtensions.swift
  iOS/Airbnb/Airbnb/Utils/ImageCache.swift
  iOS/Airbnb/Airbnb/Utils/NotificationToken.swift
  iOS/Airbnb/Airbnb/Utils/Observable.swift
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBViewModel.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBViewModels.swift
  iOS/Airbnb/Airbnb/Views/BNBCell.swift
  iOS/Airbnb/Airbnb/Views/BadgeLabel.swift
  iOS/Airbnb/Airbnb/Views/CornerRoundedButton.swift
  iOS/Airbnb/Airbnb/Views/FavoriteButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/ReviewCountLabel.swift
  iOS/Airbnb/Airbnb/Views/RoundButton.swift
  iOS/Airbnb/Airbnb/Views/Shadow.swift
  iOS/Airbnb/AirbnbTests/AFSessionTests.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/Mocking/BNBsTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/OneBNBTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/OneInvalidBNBTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/URLProtocolMock.swift
  iOS/Airbnb/AirbnbTests/SearchRequestTests.swift
  iOS/Airbnb/AirbnbTests/SearchTaskTests.swift
  iOS/README.md
  iOS/result2.png
Labels: iOS, review

#105 [iOS] 로그인 화면을 구성하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb_title_logo.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb_title_logo.imageset/airbnb_title_logo.png
  iOS/Airbnb/Airbnb/Controllers/LoginViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Login.storyboard
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/Views/CornerRoundedButton.swift
  iOS/Airbnb/Airbnb/Views/LoginButton.swift
Labels: enhancement, iOS

#124 [BE] JWT decoding 구현
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/ExceptionAdvice.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/InvalidTokenException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtInterceptor.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/WebMvcConfig.java
Labels: BE-페어

#112 [iOS] github OAuth 인증 후 jwt 토큰을 UseDefaults에 저장하는 기능을 구현하였습니다.
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/LoginViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/Login.storyboard
  iOS/Airbnb/Airbnb/Networking/AuthKeys.swift
  iOS/Airbnb/Airbnb/Networking/AuthRequest.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Networking/Request.swift
Labels: enhancement, iOS

#127 [iOS] 조건에 따라 로그인 화면을 띄우는 기능 구현
  iOS/Airbnb/Airbnb/Controllers/LoginViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
Labels: enhancement, iOS

#126 [BE] flyway scheme initalization
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
Labels: BE, database

#131 [BE] Image Entity VO로 refactoring
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtInterceptor.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/resources/db/migration/V1__CreateTable.sql
Labels: BE

#129 [iOS] 로그인 기능을 구현
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb_title_logo.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/airbnb_title_logo.imageset/airbnb_title_logo.png
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/BNBTabBarController.swift
  iOS/Airbnb/Airbnb/Controllers/LoginViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/Login.storyboard
  iOS/Airbnb/Airbnb/Networking/AuthKeys.swift
  iOS/Airbnb/Airbnb/Networking/AuthRequest.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/SceneDelegate.swift
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/Views/CornerRoundedButton.swift
  iOS/Airbnb/Airbnb/Views/LoginButton.swift
Labels: iOS, review

#134 [iOS] 캘린더 VC 프로토타입 구성 및 Filter VC와 연동
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Airbnb/Airbnb/Base.lproj/Calendar.storyboard
  iOS/Airbnb/Airbnb/Controllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Delegates/CalendarLayout.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/ViewModels/CalendarViewModel.swift
  iOS/Airbnb/Airbnb/Views/CalendarCell.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
Labels: enhancement, iOS

#138 [BE] token 정보 기반으로 기존 API 리팩토링
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtInterceptor.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
Labels: BE

#136 가격 화면 텍스트 부분 구현 및 PriceViewController 생성하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Price.storyboard
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBViewModels.swift
  iOS/Airbnb/Airbnb/ViewModels/PriceViewModel.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
Labels: enhancement, iOS

#141 [BE] 비 로그인 접속 시 Guest 유저로 접속하도록 기능 추가
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/WebMvcConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
Labels: BE

#143 가격화면 부분 커스텀 슬라이더를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Price.storyboard
  iOS/Airbnb/Airbnb/ViewModels/PriceViewModel.swift
  iOS/Airbnb/Airbnb/Views/RangeSlider.swift
  iOS/Airbnb/Airbnb/Views/RangeSliderTrackLayer.swift
Labels: enhancement, iOS

#145 [iOS] 가격 부분 그래프 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Price.storyboard
  iOS/Airbnb/Airbnb/ViewModels/PriceViewModel.swift
  iOS/Airbnb/Airbnb/Views/GraphView.swift
Labels: enhancement, iOS

#147 [iOS] 가격 초기화 기능 구현하였습니다.
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Views/RangeSlider.swift
Labels: enhancement, iOS

#149 [iOS] 완료 버튼 기능을 구현 하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Networking/FilterRequest.swift
  iOS/Airbnb/Airbnb/Networking/SearchRequest.swift
  iOS/Airbnb/Airbnb/ViewModels/PriceViewModel.swift
  iOS/Airbnb/Airbnb/Views/RangeSlider.swift
Labels: enhancement, iOS

#150 [BE] 현재 좌표로부터 특정 거리가 주어졌을 때 주위에 있는 방을 검색한다.
  BE/build.gradle
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDtoSimplified.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/LocationMapper.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomDao.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/common/GeometryTest.java
Labels: BE, enhancement

#152 [iOS] 달력에 년, 월, 일 데이터 표시
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Calendar.storyboard
  iOS/Airbnb/Airbnb/Controllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterSubViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Delegates/CalendarLayout.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/ViewModels/CalendarViewModel.swift
  iOS/Airbnb/Airbnb/Views/CalendarCell.swift
  iOS/Airbnb/Airbnb/Views/CalendarHeaderView.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/AirbnbTests/CalendarViewModelTests.swift
Labels: enhancement, iOS

#151 [BE] 숙소예약 프로젝트 3주차 최종 리뷰 요청드립니다.
  BE/build.gradle
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDtoSimplified.java
  BE/src/main/java/dev/codesquad/airbnb02/common/config/SwaggerConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/ExceptionAdvice.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/InvalidTokenException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtInterceptor.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/WebMvcConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/LocationMapper.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomDao.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/common/GeometryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/user/business/UserServiceTest.java
  README.md
Labels: be-리뷰요청

#155 [BE] 응답 DTO에 좌표계 추가
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/CoordinateDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
Labels: BE

#156 [BE] 3주차 PR review 완료
  BE/build.gradle
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/BookingController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/CoordinateDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomDetailResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDtoSimplified.java
  BE/src/main/java/dev/codesquad/airbnb02/common/config/SwaggerConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/ExceptionAdvice.java
  BE/src/main/java/dev/codesquad/airbnb02/common/exception/InvalidTokenException.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtInterceptor.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/WebMvcConfig.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/LocationMapper.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomDao.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/vo/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/application-deploy.properties
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/common/GeometryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/domain/user/business/UserServiceTest.java
  README.md
Labels: BE

#157 [iOS] 숙박일 선택 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Calendar.storyboard
  iOS/Airbnb/Airbnb/Controllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Delegates/CalendarLayoutDelegate.swift
  iOS/Airbnb/Airbnb/Models/CalendarDates.swift
  iOS/Airbnb/Airbnb/Models/StayDates.swift
  iOS/Airbnb/Airbnb/ViewModels/CalendarViewModel.swift
  iOS/Airbnb/Airbnb/Views/CalendarCell.swift
  iOS/Airbnb/Airbnb/Views/RoundView.swift
  iOS/Airbnb/AirbnbTests/CalendarViewModelTests.swift
Labels: enhancement, iOS

#162 [iOS] JK의 피드백을 반영하였습니다.
  .swp
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/RoomViewController.swift
  iOS/Airbnb/Airbnb/Delegates/BNBsLayout.swift
  iOS/Airbnb/Airbnb/Models/Room.swift
  iOS/Airbnb/Airbnb/Networking/AFSession.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Networking/Mocking/RoomsSuccessMock.swift
  iOS/Airbnb/Airbnb/Networking/Mocking/RoomsSuccessStub.swift
  iOS/Airbnb/Airbnb/Networking/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Networking/NetworkDownloader.swift
  iOS/Airbnb/Airbnb/Networking/RoomsTask.swift
  iOS/Airbnb/Airbnb/Networking/SessionExtension.swift
  iOS/Airbnb/Airbnb/UseCases/ImageUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/RoomImageUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/RoomsUseCase.swift
  iOS/Airbnb/Airbnb/Utils/DataExtensions.swift
  iOS/Airbnb/Airbnb/Utils/ImageCache.swift
  iOS/Airbnb/Airbnb/Utils/Observable.swift
  iOS/Airbnb/Airbnb/Utils/URLExtension.swift
  iOS/Airbnb/Airbnb/ViewModels/RoomViewModel.swift
  iOS/Airbnb/Airbnb/ViewModels/RoomViewModels.swift
  iOS/Airbnb/AirbnbTests/AFSessionTests.swift
  iOS/Airbnb/AirbnbTests/Mocking/OneRoomTestData.json
  iOS/Airbnb/AirbnbTests/Mocking/URLProtocolMock.swift
  iOS/Airbnb/AirbnbTests/RoomRequestTests.swift
  iOS/Airbnb/AirbnbTests/RoomTaskTests.swift
  iOS/Airbnb/AirbnbTests/SessionTests.swift
Labels: iOS, refactor

#164 [iOS] FilterVC 리팩토링 하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/searchBlack.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/BNBTabBarController.swift
  iOS/Airbnb/Airbnb/Controllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/LoginViewController.swift
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Controllers/RoomViewController.swift
  iOS/Airbnb/Airbnb/Controllers/ViewControllerInstantiator.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/SceneDelegate.swift
  iOS/Airbnb/Airbnb/UseCases/RoomsUseCase.swift
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterFooterView.swift
  iOS/Airbnb/Airbnb/Views/FilterHeaderView.swift
Labels: refactor, review

#165 [iOS] 가격 화면 텍스트 부분 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/PriceViewController.swift
  iOS/Airbnb/Airbnb/Utils/NibLoadable.swift
  iOS/Airbnb/Airbnb/Views/PriceContentView.swift
  iOS/Airbnb/Airbnb/Views/PriceContentView.xib
Labels: enhancement, iOS
