Repository codesquad-member-2020/airbnb-02, pull requests merged in 2020-05, with the labels that each got.

#4 [pair][iOS] 기본 프로젝트 제작
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Airbnb/Airbnb/AppDelegate.swift
  iOS/Airbnb/Airbnb/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/LaunchScreen.storyboard
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/BookmarkViewController.swift
  iOS/Airbnb/Airbnb/Controllers/ReservationViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/SceneDelegate.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/Info.plist
Labels: enhancement, iOS

#12 tabBar 구현부 리팩토링
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/BookmarkViewController.swift
  iOS/Airbnb/Airbnb/Controllers/ReservationViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Controllers/TabbedViewController.swift
  iOS/Airbnb/Airbnb/SceneDelegate.swift
Labels: iOS, refactor

#16 [iOS] 탭바 컨트롤러 스토리보드로 변경
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/BookmarkViewController.swift
  iOS/Airbnb/Airbnb/Controllers/ReservationViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Controllers/TabbedViewController.swift
  iOS/Airbnb/Airbnb/SceneDelegate.swift
Labels: iOS, refactor

#22 [iOS] 커스텀 서치바 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Views/SearchTextField.swift
Labels: enhancement, iOS

#23 [iOS] 커스텀 가이드(Guide) 레이블 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/dimGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Views/GuideLabel.swift
  iOS/Airbnb/Airbnb/Views/GuideLabelViewModel.swift
Labels: enhancement, iOS

#25 [iOS] 상단 커스텀 버튼 클래스 구현 및 버튼 상속 관계 설계
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewModels/BadgeViewModel.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/AdultButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
Labels: enhancement, iOS

#28 [iOS] 불필요한 뷰모델 제거 및 코딩 표준을 하기 위해 리팩토링함
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Utils/UIEdgeInsetsExtension.swift
  iOS/Airbnb/Airbnb/ViewModels/BadgeViewModel.swift
  iOS/Airbnb/Airbnb/Views/BadgeLabel.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/GuideLabel.swift
  iOS/Airbnb/Airbnb/Views/GuideLabelViewModel.swift
Labels: iOS, refactor

#35 [iOS] 스토리보드 구성 및 레이아웃
  iOS/Airbnb/Airbnb/Assets.xcassets/searchBarBorderGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/textGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/SearchTextField.swift
Labels: enhancement, iOS

#37 [iOS] 이미지를 페이징하는 뷰를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Views/IdentifiableView.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
Labels: enhancement, iOS

#38 [iOS] 뷰에 쉐도잉을 주는 메소드를 프로토콜화 하여 적용
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Views/SearchTextField.swift
  iOS/Airbnb/Airbnb/Views/Shadow.swift
Labels: iOS, refactor

#39 [BE] DB 형상관리를 위한 Flyway 플러그인 도입
  BE/build.gradle
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
Labels: BE

#46 [iOS] 맵 버튼을 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/Shadow.swift
Labels: enhancement, iOS

#56 [iOS] Filter VC 및 화면 전환 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/close.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/close.imageset/close.png
  iOS/Airbnb/Airbnb/Assets.xcassets/completionBlack.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Utils/Identifiable.swift
  iOS/Airbnb/Airbnb/Utils/NibLoadable.swift
  iOS/Airbnb/Airbnb/Utils/Storyboard.swift
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/RoundedButton.swift
Labels: enhancement, iOS

#57 [iOS] 메인화면, 필터화면 뷰 구현
  iOS/.gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Airbnb/Airbnb/AppDelegate.swift
  iOS/Airbnb/Airbnb/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/close.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/close.imageset/close.png
  iOS/Airbnb/Airbnb/Assets.xcassets/completionBlack.colorset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/searchBarBorderGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/textGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/LaunchScreen.storyboard
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/BookmarkViewController.swift
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Controllers/ReservationViewController.swift
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/SceneDelegate.swift
  iOS/Airbnb/Airbnb/Utils/Identifiable.swift
  iOS/Airbnb/Airbnb/Utils/NibLoadable.swift
  iOS/Airbnb/Airbnb/Utils/Storyboard.swift
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Utils/UIEdgeInsetsExtension.swift
  iOS/Airbnb/Airbnb/Views/BadgeLabel.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/AdultButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/RoundedButton.swift
  iOS/Airbnb/Airbnb/Views/SearchTextField.swift
  iOS/Airbnb/Airbnb/Views/Shadow.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/Info.plist
  iOS/README.md
  iOS/result1.png
Labels: iOS, review

#63 [BE] 날짜 필터 기능 추가 Henry 작업
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/resources/db/migration/V1__CreateTable.sql
Labels: BE, enhancement

#67 [BE] 쿼리 파라미터 사용하여 필터링 기능 추가
  BE/build.gradle
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/Airbnb02ApplicationTests.java
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
Labels: BE

#33 [BE 리뷰요청] 숙소예약 프로젝트 1주차 리뷰 요청합니다.
  BE/.gitignore
  BE/README.md
  BE/build.gradle
  BE/csv/mock_host.csv
  BE/csv/mock_image.csv
  BE/csv/mock_room.csv
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/ReviewDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/Github.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/GithubUser.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/RequestBody.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/service/LoginService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/business/HostService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/data/HostRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/entity/Host.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/RoomType.java
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/application.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/Airbnb02ApplicationTests.java
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/application/controller/RepositoryTest.java
  iOS/README.md
Labels: be-리뷰요청

#68 [BE] 1주차 PR review 완료
  BE/.gitignore
  BE/build.gradle
  BE/csv/mock_host.csv
  BE/csv/mock_image.csv
  BE/csv/mock_room.csv
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/ReviewDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/Github.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/GithubUser.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/RequestBody.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/service/LoginService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/business/HostService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/data/HostRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/entity/Host.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/RoomType.java
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/application.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/Airbnb02ApplicationTests.java
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/application/controller/RepositoryTest.java
Labels: BE

#69 [BE] JWT 기능 추가
  BE/build.gradle
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
Labels: BE

#53 [iOS] 검색 화면 관련 json 파일을 추가하고 관련 Codable 객체를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Models/BNB.swift
  iOS/Airbnb/Airbnb/Networking/Mocking/BNBsTestData.json
  iOS/Airbnb/Airbnb/Utils/DataExtensions.swift
  iOS/Airbnb/AirbnbTests/DecodableTests.swift
  iOS/README.md
Labels: enhancement, iOS

#62 [iOS] 하트 커스텀 버튼 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/pointPink.colorset/Contents.json
  iOS/Airbnb/Airbnb/Filter.storyboard
  iOS/Airbnb/Airbnb/Utils/UIColorExtension.swift
  iOS/Airbnb/Airbnb/Views/CornerRoundedButton.swift
  iOS/Airbnb/Airbnb/Views/FavoriteButton.swift
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/RoundButton.swift
Labels: enhancement, iOS

#54 [iOS] 네트워크 Request 객체를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/Networking/BNBRequest.swift
  iOS/Airbnb/Airbnb/Networking/EndPoints.swift
  iOS/Airbnb/Airbnb/Networking/Request.swift
  iOS/Airbnb/AirbnbTests/BNBsRequestTests.swift
Labels: enhancement, iOS

#74 [iOS] 숙소 검색 결과 뷰모델 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Utils/NotificationToken.swift
  iOS/Airbnb/Airbnb/Utils/Observable.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBsViewModel.swift
  iOS/Airbnb/Airbnb/Views/BNBCell.swift
Labels: enhancement, iOS

#78 [iOS] NetworkDispatcher 프로토콜 구현후 Alamofire Session 이 채택하도록 했습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Airbnb/Airbnb/Networking/NetworkDispatcher.swift
  iOS/Airbnb/AirbnbTests/DispatcherTests.swift
Labels: enhancement, iOS

#79 [iOS] 받아온 response를 [BNB] 로 처리하는 BNBsTask 객체 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Networking/BNBsTask.swift
  iOS/Airbnb/Airbnb/Networking/NetworkTask.swift
  iOS/Airbnb/AirbnbTests/BNBsTaskTests.swift
Labels: enhancement, iOS

#82 [iOS] BNB 배열([BNB])을 핸들러로 상위객체에게 보낼 BNBsUseCase 를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/UseCases/BNBsUseCase.swift
  iOS/Airbnb/AirbnbTests/BNBsUseCaseTests.swift
Labels: enhancement, iOS

#80 [iOS] PR #57의 리뷰 피드백 반영
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Controllers/FilterViewController.swift
  iOS/Airbnb/Airbnb/Utils/StoryboardRouter.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/DateButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/GuestsButton.swift
  iOS/Airbnb/Airbnb/Views/FilterButtons/PriceButton.swift
Labels: enhancement, iOS

#85 [iOS] JK 피드백 반영하였습니다.
  iOS/Airbnb/Airbnb/Views/BadgeLabel.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
Labels: iOS, refactor

#88 [DevOps] GitHub Actions 배포 테스트
  BE/.gitignore
  BE/appspec.yml
  BE/build.gradle
  BE/csv/mock_host.csv
  BE/csv/mock_image.csv
  BE/csv/mock_room.csv
  BE/deploy.sh
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/hs_err_pid15310.log
  BE/settings.gradle
  BE/src/main/java/dev/codesquad/airbnb02/Airbnb02Application.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/LoginController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/RoomController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/controller/UserController.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/ReviewDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/RoomResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/application/dto/UserFavoriteResponseDto.java
  BE/src/main/java/dev/codesquad/airbnb02/common/jwt/JwtService.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/Github.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/GithubUser.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/RequestBody.java
  BE/src/main/java/dev/codesquad/airbnb02/common/oauth/service/LoginService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/favorite/Favorite.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/business/HostService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/data/HostRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/host/entity/Host.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/business/RoomService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/data/RoomRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Booking.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Image.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Locale.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/Room.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/room/entity/RoomType.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/business/UserService.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/data/UserRepository.java
  BE/src/main/java/dev/codesquad/airbnb02/domain/user/entity/User.java
  BE/src/main/resources/application-deploy.properties
  BE/src/main/resources/application-dev.properties
  BE/src/main/resources/application.properties
  BE/src/main/resources/db/migration/V1__CreateTable.sql
  BE/src/main/resources/db/migration/V2__InsertInitialData.sql
  BE/src/test/java/dev/codesquad/airbnb02/Airbnb02ApplicationTests.java
  BE/src/test/java/dev/codesquad/airbnb02/RoomServiceTest.java
  BE/src/test/java/dev/codesquad/airbnb02/application/controller/UserControllerTest.java
  BE/src/test/java/dev/codesquad/airbnb02/repository/RepositoryTest.java
  BE/src/test/java/dev/codesquad/airbnb02/user/business/UserServiceTest.java
Labels: BE, deploy

#87 [iOS] 컬렉션 뷰 커스텀 셀 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/star.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/star.imageset/star.png
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Controllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Delegates/BNBsLayout.swift
  iOS/Airbnb/Airbnb/ViewModels/BNBsViewModel.swift
  iOS/Airbnb/Airbnb/Views/BNBCell.swift
  iOS/Airbnb/Airbnb/Views/BadgeLabel.swift
  iOS/Airbnb/Airbnb/Views/ImagePagingView.swift
  iOS/Airbnb/Airbnb/Views/MapButton.swift
  iOS/Airbnb/Airbnb/Views/ReviewCountLabel.swift
  iOS/Airbnb/Airbnb/Views/Shadow.swift
Labels: enhancement, iOS

#93 [iOS] 캐시 및 유스케이스 객체를 구현하였습니다.
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Networking/BNBsRequest.swift
  iOS/Airbnb/Airbnb/Networking/BNBsTask.swift
  iOS/Airbnb/Airbnb/Networking/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Networking/SessionExtension.swift
  iOS/Airbnb/Airbnb/UseCases/BNBsUseCase.swift
  iOS/Airbnb/Airbnb/UseCases/ImageUseCase.swift
  iOS/Airbnb/Airbnb/Utils/ArrayExtensions.swift
  iOS/Airbnb/Airbnb/Utils/Cache.swift
  iOS/Airbnb/Airbnb/Utils/DataExtensions.swift
  iOS/Airbnb/Airbnb/Utils/airbnb.png
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/BNBsRequestTests.swift
  iOS/Airbnb/AirbnbTests/BNBsTaskTests.swift
  iOS/Airbnb/AirbnbTests/BNBsUseCaseTests.swift
  iOS/Airbnb/AirbnbTests/CacheTests.swift
  iOS/Airbnb/AirbnbTests/DispatcherTests.swift
  iOS/Airbnb/AirbnbTests/ImageUseCaseTests.swift
Labels: enhancement, iOS
